@model IEnumerable<ProvaCandidato.Data.Entidade.Cidade>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Codigo }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Codigo }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
